.place__collage{
    background-color: wheat;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 50%;
    overflow: hidden;
    height: 300px;
    
  }
  
  .place__collage--big{
    grid-row-start: 1;
    grid-row-end:   3;
    cursor: pointer;
    border: 2px solid #f2f2f2;
  }
  
  .place__collage--big img{
    -o-object-fit: cover;
      object-fit: cover;
  }
  
  .place__collage--medium{
    border: 2px solid #f2f2f2;
  }
  
  .place__collage--medium img{
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }