@import './vars.scss';
@import './media.scss';


body {
    margin: 0;
    font-family: $font-family;
    background-color: $BGMain;
  }
  
* {
box-sizing: border-box;
}

 body::-webkit-scrollbar {
    display: none;
  }