@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500,600,700,800,900|Gayathri|Lato:300,300i,400,400i,700,700i|Livvic:300,300i,400,400i,500,500i,600,600i,700,700i|Nunito+Sans:300,300i,400,400i,600,600i,700,700i|Red+Hat+Display:400,400i,500,500i,700,700i&display=swap&subset=latin-ext);

$font-family: "Nunito Sans", sans-serif;
$color1: #122638;
$color2: #003459;
$color3: rgb(221, 131, 40);
$color4: rgb(44, 112, 196);
$color5: #fff;
$color6: rgba(255, 255, 255, 0.5);
$fontcolor1: #fff;
$fontcolor2: #484848;


$background-color: #fff;
$filters-color: #003459;
$header-color: #122638;
$font-color:rgb(244, 248, 248);
$secondaryColor: rgb(244, 248, 248);
$btn-color: $color3;
$btnSearch:$color4;
$placeCard-color: rgb(244, 248, 248);
$placeholderColor:   #484848;

$BGPages: linear-gradient(to bottom right,#E8F1F2, rgb(223, 142, 62));
$BGRegister: linear-gradient(to bottom right,rgb(223, 142, 62), rgb(10, 6, 17));
$BGMain: #fff;
$BGNotFound: linear-gradient(to bottom right,rgb(223, 142, 62), rgb(5, 12, 15));
$btnRadius: 2px;
$placesHeight: 85vh;
