@import '../Base.scss';

.places {
    overflow-y: scroll;
    height: $placesHeight;
    -ms-overflow-style: none;
  }
  
  .places__h2 {
    padding-left: 20px;
  }
  
  .places::-webkit-scrollbar {
    display: none;
  }