@import '../Base.scss';

.placeDetail__rating {
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
     width:400px;
    padding:10px;
    margin: 0px 100px 30px 30px;
    /* border: 1px solid rgb(219, 219, 219); */
    border-radius: 2px;
  }

  
.placeDetail__ratingBtn {
  border: 1px solid $color4;
  border-radius: 3px;
  background-color: $color4;
  text-align: center;
  padding: 10px;
}

.placeDetail__rating--supidc {
  font-size:10px;
} 

.placeDetail__votes {
 margin: 20px 0 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
}

.placeDetail__votes--icon img{
  width: 30px;
  height: 30px;
  margin: 10px 5px 5px 5px;
}

.placeDetail__map{
  
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}


.placeDetail__map--container {
  height: 100%;
  width: 100%;
  position: relative;

  
}

.placeDetail__miniMap {
  height: 250px;
  
}


.map__directions{
  margin-top: 10px;
  
}

