@import url(https://fonts.googleapis.com/css?family=Darker+Grotesque:400,500,600,700,800,900|Gayathri|Lato:300,300i,400,400i,700,700i|Livvic:300,300i,400,400i,500,500i,600,600i,700,700i|Nunito+Sans:300,300i,400,400i,600,600i,700,700i|Red+Hat+Display:400,400i,500,500i,700,700i&display=swap&subset=latin-ext);

$font-family: "Nunito Sans", sans-serif;
$background-color: #ffffff;
$filters-color: #282828;
$header-color: #000000;
$font-color:#ffffff;
$secondaryColor: #fff;// #7c7783;
$btn-color: rgb(3, 121, 31);//rgb(245, 244, 247);
$btnSearch: rgb(13, 116, 4);
$placeCard-color: rgb(255, 255, 255);
$BGPages: linear-gradient(to bottom right,rgb(4, 87, 92), #050506);//
$BGRegister: linear-gradient(to bottom right,rgb(73, 57, 85), rgb(10, 6, 17));
$BGMain: #ffffff;
$BGNotFound: linear-gradient(to bottom right,rgb(55, 182, 221), rgb(5, 12, 15));
$placeholderColor:  rgb(180, 179, 179);
$btnRadius: 2px;
$placesHeight: 75vh;